@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100hw;
  background-color: #01cfa6;
  color: black;
}

.menu a {
  color: black;
}
