@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

@media screen and (max-width: 300px) {
  .fondo {
    width: 100vw;
    padding: 10px;
    align-content: center;
  }

  body {
    width: 100vw;
  }

  .presentext {
    margin-left: -125px;
    width: 100vw;
  }

  .habilidades {
    width: 110vw;
  }
}

@media screen and (min-width: 1350px) {
  .contain {
    grid-template-columns: 45% 45%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  /*overflow-x: hidden;*/
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(0, 0%, 10%);
  color: white;
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: large;
  display: inline-flex;
  margin: 0;
}

.fondo {
  background-image: url("../assets/fakurian-design-iFu2HILEng8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: right;
}
.menu a:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  transition: ease-in 0.3s;
}

.presentacion {
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  width: 90vw;
  height: 60vh;
}

.presentacion .picture {
  margin: 0 auto;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 1px 11px 1px rgb(0, 114, 196);
}

h2 {
  margin-left: 10px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
}

h2 span {
  color: rgb(93, 185, 250);
}

.presentext {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  align-items: center;
  padding: 3rem 200px;
  text-align: justify;
  text-decoration: none;
  margin-top: 35px;
  line-height: 30px;
  padding: 5px;
  font-size: medium;
}

.curriculum {
  text-align: center;
}

.curriculum .cv {
  padding: 10px 20px;
  background-color: rgb(0, 114, 196);
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 35px;
  cursor: pointer;
  box-shadow: 1px 3px 11px 1px rgba(0, 114, 196, 0.69);
}

.cv:hover {
  background-color: rgb(46, 46, 46);
  box-shadow: none;
}

.habilidades {
  margin-top: 300px;
  padding: 15px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/peakpx-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column-gap: 100px;
  grid-row-gap: 6rem;
  padding: 2rem 200px;
  font-size: 0.75rem;
}

.skill {
  border: 1px;
  box-shadow: 0 2px 3px 0px rgba(0, 114, 196, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
}

.container:hover .skill {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.container:hover .skill:hover {
  filter: blur(0px);
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.skill-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill-icon {
  height: 150px;
  width: 150px;
  padding: 30px;
}

.text {
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contacto {
  padding: 1em;
  margin: 0 auto;
}

.cajac {
  width: 600px;
  padding-left: 1em;
  text-align: center;
  align-items: center;
  margin-top: 105px;
}

.cajac input {
  padding: 10px 20px;
  width: 300px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(69, 179, 252);
  color: white;
}

.cajac textarea {
  height: 150px;
  width: 300px;
  background: none;
  color: white;
  border: 1px solid rgb(69, 179, 252);
  padding: 1.5em;
  margin-bottom: 1em;
}

.cajac .btn-sbmt {
  margin: 1em;
  border: 1px solid rgb(69, 179, 252);
  padding: 10px 20px;
  border-radius: 10px;
}

.cajac .btn-sbmt:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: ease-in 0.3s;
  box-shadow: 1px 3px 11px 1px rgba(0, 114, 196, 0.69);
}

.headform {
  padding-bottom: 10px;
}

.right {
  text-decoration: none;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.cajas {
  margin-top: 105px;
  padding: 50px;
  justify-content: space-evenly;
  margin-left: 60px;
}

.caja1 {
  margin: 50px;
  display: inline-block;
  color: white;
  text-align: center;
}

.contact-icon {
  color: inherit;
  font-size: 50px;
  text-decoration: none;
}

.contact-icon:hover {
  color: rgb(69, 179, 252);
  transition: ease-in 0.2s;
}

.contain {
  display: grid;
  grid-template-columns: repeat(minmax(200px, 2fr));
  margin: 0 auto;
  margin-left: 45px;
}
