@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  /*overflow-x: hidden;*/
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(0, 0%, 10%);
  color: white;
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: large;
  display: inline-flex;
  justify-content: center;
}

.fondo {
  background-image: url(/assets/fakurian-design-iFu2HILEng8-unsplash.JPG);
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
}

.menu a:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  transition: ease-in 0.4s;
}

.presentacion {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 175px;
  width: 75vw;
  height: 90vh;
  background-color: hsl(0, 0%, 10%);
}

.presentacion .picture {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 1px 11px 1px rgb(0, 114, 196);
}

h2 {
  margin-left: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
}

h2 span {
  color: rgb(93, 185, 250);
}

.presentext {
  text-align: justify;
  text-decoration: none;
  margin-top: 35px;
  line-height: 30px;
  padding: 40px;
}

.curriculum {
  text-align: center;
}

.curriculum .cv {
  padding: 10px 20px;
  background-color: rgb(0, 114, 196);
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 35px;
  cursor: pointer;
  box-shadow: 1px 3px 11px 1px rgba(0, 114, 196, 0.69);
}

.cv:hover {
  background-color: rgb(46, 46, 46);
  box-shadow: none;
}

.habilidades {
  margin-top: 300px;
  padding: 35px;
  background-image: url("/assets/fondocode.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column-gap: 100px;
  grid-row-gap: 55px;
  padding: 3rem 200px;
  font-size: 0.75rem;
}

.skill {
  border: 1px;
  box-shadow: 0 2px 3px 0px rgba(0, 114, 196, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
}

.container:hover .skill {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.container:hover .skill:hover {
  filter: blur(0px);
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.skill-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill-icon {
  height: 150px;
  width: 150px;
  padding: 20px;
}

.text {
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
  line-height: 30px;
  margin-bottom: 30px;
}

.capacitaciones {
  margin-top: 100px;
  padding: 15px;
  width: 100vw;
  height: 100vh;
}

.capacitacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
  font-size: 1rem;
}

.cap-icon {
  height: 110px;
  width: 140px;
  padding: 20px;
}

.container1 {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: left;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
  font-size: 0.75rem;
}

.caja {
  text-align: justify;
  font-size: 0.7rem;
  padding: 40px;
}
